@page "/jobs"
@inherits JobsBlazor 
@inject DialogService DialogService

<h3>Create Jobs</h3>




<div>

 <div class="col-md">

	 <label> JobName</label>
	 <InputText @bind-Value="Jobname" DisplayName="Job Name"> </InputText>
</div>

	<div class="col-md">
		<label> Use Cron</label>
		<InputCheckbox @bind-Value="UseCron"> use Cron </InputCheckbox>
	</div>

@if(UseCron){
<div class="col-md">
	 <label> Cron </label>
	 <InputText @bind-Value="cron" DisplayName="Cron"></InputText>
</div>
	}
	else {

		<div class="col-md">
			<label> Cron </label>

			<select @bind=crontext>
				@foreach(var value in CronMap)
				{

					<option>@value.Key.ToString()</option>

				}

			</select>
		</div>
	}
<div class="col-md">
	 <label> FilePath</label>
	 <InputText @bind-Value="filepath"></InputText>
</div>
	 <label>Delimiter</label>
	 <InputText @bind-Value="delimiter"> </InputText>
<div class="col-md">
	 <label> TableName</label>
	 <InputText @bind-Value="tablename"></InputText>
</div>





	<div class="col-md-2">
		<button type="button" class="btn btn-primary" @onclick="createTask">Create Task</button>
	</div>
</div>

<button class="btn btn-primary" @onclick="RefreshList">Refresh List</button>

<table class="table table-bordered table-hover">
	
	<thead>
		<tr>
			<th scope="col">Name</th>
			<th scope="col">Cron</th>
			<th scope="col">Created At</th>
			<th scope="col">Last Execution</th>
			<th scope="col">Next Execution</th>
			<th scope="col">Actions</th>
		</tr>
	</thead>
	<tbody>

		@if (tasks != null)
		{
			@foreach (var task in tasks)
			{
				<tr>
					<td>@task.JobID</td>
					<td>@task.Cron</td>
					<td>@task.CratedAt</td>
					<td>@task.LastExecution</td>
					<td>@task.NextExecution</td>
					<td>

						<RadzenButton Text="Delete" Icon="delete" ButtonStyle="ButtonStyle.Secondary"
									  Click=@(async args =>
							  {
							  bool? confirmed = await DialogService.Confirm("Are you sure?", "Delete Task",
							  new ConfirmOptions() { OkButtonText = "Yes", CancelButtonText = "No" });
							  if (confirmed == true)
							  {
								await Delete(task.JobID);
							  }
							  }) />


						<!--<button type="button" class="btn btn-danger" @onclick="() => Delete(task.JobID)">Delete</button>-->

						<RadzenButton Icon="refresh" Text = "Trigger" ButtonStyle="ButtonStyle.Success"  @onclick="()=> Trigger(task.JobID)"></RadzenButton>
					</td>
				</tr>
			}
		}
		else
		{
			<tr><td colspan="6">No jobs available</td></tr>
		}

		
	</tbody>
</table>


@code {

}
